@import "./custom_colors";

.auth {
  background-color: $custom-purple;
  height: calc(100% - 70px);
}

.column.is-6 {
  text-align: center;
}

.form-register {
  display: flex;
  width: 100%;
}

.btn {
  text-align: center;
}

.column-style {
  padding: 0;
}
